[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.10"
numpy = "==1.14.5"
matplotlib = "*"
jupyter = "*"

[dev-packages]
pylint = "*"
mypy = "*"
ipython = "*"

[requires]
python_version = "3.6"
